@import "nulling";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
body {
	font-family: "Impact";
}
//-------------------------------------------------------------------------------------------------------------------------
	.wrapper {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	.page	{
		flex: 1 1 auto;
	}
	.container {
		max-width: 1360px;
		margin: 0px auto;
	}
	.title {
		color: #ec7f00;
		font-size: 68px;
	}
//-------------------------------------------------------------------------------------------------------------------------
@import "header";
@import "footer";

@import "home";

